<div class="container">
    <div class="row">
      <div class="span4 offset1">
        <h4 class="center">We Stock</h4>
         <ul class="thumbnails">
          <li class="span2">
           <%= image_tag(aws_asset("/assets/img/thumb-1.jpg"), :class => "stock") %>
          </li>
          
          <li class="span2">
            <%= image_tag(aws_asset("/assets/img/thumb-2.jpg"), :class => "stock") %>
          </li>

          <li class="span2">
           <%= image_tag(aws_asset("/assets/img/thumb-3.jpg"), :class => "stock") %>
          </li>

          <li class="span2">
           <%= image_tag(aws_asset("/assets/img/thumb-4.jpg"), :class => "stock") %>
         </li>
        </ul> 
    </div><!-- span4 -->
    
    <div class="span4 offset1">
      <h4 class="center">Twitter Feed</h4>
      <span class="twitt_user center">@Davids_Carpets</span>
      <div id="twitter"></div>
      <a href="https://twitter.com/Davids_Carpets" class="bird">Follow us on twitter</a> </div>
    </div>
   </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="span6 offset3">
       <div id="footer">
        © copyright 2013 <a href="http://fishplatestudios.co.uk">fishplatestudios.co.uk</a>
       </div>
      </div>
    </div>
  </div>