<div class="container">
    <div class="row">
      <div class="span4 offset1">
        <h4 class="center">Manufacturers</h4>
         <ul class="thumbnails">
          <li class="span2">
           <a href="#"  title="This is title of image 1"><img src="/assets/img/thumb-1.jpg" width="170" height="60" alt="Image 1"/></a> 
          </li>
          
          <li class="span2">
           <a href="#"  title="This is title of image 2"><img src="/assets/img/thumb-2.jpg" width="170" height="60" alt="Image 2"/></a> 
          </li>

          <li class="span2">
           <a href="#" title="This is title of image 3"><img src="/assets/img/thumb-3.jpg" width="170" height="60" alt="Image 3"/></a> 
          </li>

          <li class="span2">
           <a href="#"  title="This is title of image 4"><img src="/assets/img/thumb-4.jpg" width="170" height="60" alt="Image 4"/></a> 
         </li>
        </ul> 
    </div><!-- span4 -->
    
    <div class="span4 offset1">
      <h4 class="center">Twitter Feed</h4>
      <span class="twitt_user center">@eventus</span>
      <div id="twitter"></div>
      <a href="#" class="bird">Follow us on twitter</a> </div>
    </div>
   </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="span6 offset3">
       <div id="footer">
        © copyright 2013 <a href="http://fishplatestudios.co.uk">fishplatestudios.co.uk</a>
       </div>
      </div>
    </div>
  </div>