  <div class="container">
   <div class="row">
    <div class="span12">
       <h1>David's Carpets</h1>
        <p class="title">Carpet, Retail and Fitting Services</p>
    </div>
  </div>
</div>

<!-- End Header -->

<!-- top section -->

<div class="container">
 <div class="row">
  <div class="span8">
      <h3>A Professional & Reliable Service</h3>
      <p>We offer a Professional Friendly and Reliable service with over 40 years Experience in the carpet trade. A Huge range of carpet and vinyl flooring at competitive prices, Samples fetched to the door for your perusal in the comfort of your own home. No job is too small so why not get in touch today.</p>
      <h3>What We Offer</h3>
      <ul class="bullet">
        <li>FREE Measuring Service</li>
        <li>FREE Estimates and Insurance Quotes given.</li>
        <li>FREE Delivery on all Orders.</li>
      </ul>

      <div class="row">
        <div class="span8">
          <h3>Request a callback</h3>
          <form class="contact-form" action="/" method="post">
            <div class="control-group first">
              <label class="control-label" for"name"><span class="required"></span>Your Name: <span></span></label>
               <div class="controls">
                <input type="text" class="input-medium" name="name" id="inputName" />
                 <span class="help-inline" style="display: none;">Name is required</span>
              </div>
            </div> 
            
               <div class="control-group">
                <label class="control-label" for="email"><span class="required"></span>E-mail:</span></label>
                 <div class="controls">
                  <input type="text" name="email" class="input-medium" id="inputEmail" />
                   <span class="help-inline" style="display: none;">Dont forget your email</span>
                 </div>
               </div>
              
               <div class="control-group">
                <label class="control-label" for="tel"><span class="required"></span>Tel Number:</span></label>
                 <div class="controls">
                  <input type="text" name="tel" class="input-medium" id="inputTel" />
                   <span class="help-inline" style="display: none;">Dont forget your Number</span>
                 </div>
               </div>

               <div class="hidden">
                <input name="ghost" type="text" class="inputGhost">
               </div>

               <div class="submit">
                <input type="submit" class="btn btn-success" value="Send"></input> 
               </div>       
          </form> 
        </div><!-- nested row -->
      </div><!-- nested span8-->
 </div><!-- /span8 -->

<!-- Contact Info -->
 <div class="span4">
  <div class="subscribe_bg">
    <div class="subscribe"> 
        <div class="column_3">
         <h4 class="address">Address</h4>
          <ul class="address">
            <li>75 Bethcar Street</li>
            <li>Ebbw Vale</li>
            <li>NP23 6HG</li>
          </ul>

          <h4>Contact</h4>
          <ul class="contacts">
            <li><i class="icon-phone"></i><span>01495 309555</span></li>
            <li><i class="icon-mobile-phone icon-large"></i><span>07710225630</span></li>
            <li><i class="icon-envelope"></i><span>sales@davidscarpets.co.uk</span></li>
            <li><i class="icon-twitter"></i><span>@Davids_Carpets</span></li> 
          </ul>

          <h4>Opening Times</h4>
          <ul class="opening">
           <li>Mon, Tues, Thurs, Fri <span>9:30am - 16:30pm</span></li>
           <li>Wed & Sat<span>9:30am - 12:30pm</span></li>
           <li>Sun<span>Closed</span></li>
          </ul>

        </div>
    </div>
  </div>
 </div>
</div>




  <div id="map_canvas"></div>


<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApUO4ajt4kh5KnLE-zJbdmDKrVf7zqsvA&sensor=false">
</script>


